.mobile {
  float: left;
  align-items: center;
  padding: 2%;
  margin: 15px;
  width: 90%;
  height: 30%;
  color: white;
}
.mobile > h2 {
  font-size: 25px;
  margin: 5px;
  padding: 5px;
}
.mobile > p {
  font-size: 20px;
  margin: 3px;
  padding: 3px;
}

.computer,
.PC_menu {
  display: none;
}
.mobile_menu {
  position: relative;
}

.mobile_menu > ul > li {
  font-size: 12px;
  float: left;
  margin: 1px;
  padding: 2px;
}

.mobile_menu > ul > li > a {
  display: block;
  border: 1px solid white;
  border-radius: 12px;
  padding: 2px;
  text-align: center;
  color: white;
}
.mobile_menu > ul > li > a:hover {
  background: black;
  color: white;
}

.foot {
  position: absolute;
  bottom: 10px;
  left: 15px;
  font-size: 14px;
  color: darkgoldenrod;
}
